:javascript
  $(document).ready(function(){
    $( "#skill_name" ).autocomplete({
      source: "/autocomplete_searches/skill_names",
      focus: function(event, ui) { 
        $("#skill_id").val(ui.item.id);
        $("#skill_detail").show();
        $("#skill_description_label").html("Description in our database; modify below if you feel this needs amendment:");
        $("#skill_description_box").val(ui.item.description);
      }
    });
  });
  
  $(function() {
    $("#description_box").change( function() {
    })
  });
  
=form_tag(add_skill_s_path, :method => "post") do
  = text_field_tag "skill[name]", params[:term], :class => "auto_search_complete", :size => 30
  = submit_tag "add", :name => nil, :class => 'button', :id => "skill_add"
  %br
  = hidden_field_tag "skill[id]", nil
  %div.detail#skill_detail{:style => "display:none" }
    %em
      %span#skill_description_label Description
    %br
    = text_area_tag "comments", nil, :cols => 50, :rows => 4