-if !(defined? @current_tab)
	- @current_tab = User::TABS["BROWSE"]

.biocard{ :style=> "width: 60%; background: #99CCFF; margin-top: 1em; margin-left: auto; margin-right:auto; padding: 1em;" }
  = render :partial => "students/summary_card", :locals => {:student => @company_feed.student}
.buttons{ :style => "text-align:center"}
  = link_to "prev", browse_c_path(:page => @page - 1)
  =render :partial => "shared/vote", :locals => {:voteable => @company_feed.student, :vote => @company_file.vote}
  =render :partial => "shared/star", :locals => {:entity_type => "Student", :entity_id => @company_feed.student_id, :starred => @company_file.starred}
  = link_to "next", browse_c_path(:page => @page + 1)
  -# = link_to "star", star_student_path(@company_feed.student)
  -# | 
  -# = link_to "dismiss", dismiss_student_path(@company_feed.student)