-if !(defined? @current_tab)
  - @current_tab = User::TABS["BROWSE"]

#maincontent
  .biocard{ :style=> "width: 60%; background: #99CCFF; margin-top: 1em; margin-left: auto; margin-right:auto; padding: 1em;" }
    = render :partial => "students/summary_card", :locals => {:student => @company_file.student}
  .buttons{ :style => "text-align:center"}
    = link_to "prev", browse_path(:page => @page - 1)
    =render :partial => "shared/vote", :locals => {:voteable => @company_file.student, :vote => @company_file.vote}
    =render :partial => "shared/star", :locals => {:entity => @company_file.student, :starred => @company_file.starred}
    = link_to "next", browse_path(:page => @page + 1)