- title @club.name

      
%link{:href => "/stylesheets/jquery.ui.stars.css", :rel => "stylesheet", :type => "text/css"}/
%script{:src => "/javascripts/jquery.ui.stars.js", :type => "text/javascript"}

#big
  #toppaneltop
    .genericheader
      %h1 6.470
    .ratingwidget
      %form
        %strong Usefulness:
        %span#stars-cap
        #stars-wrapper2
          %select{:name => "selrate"}
            %option{:value => "1"} Very poor
            %option{:value => "2"} Poor
            %option{:value => "3"} Okay
            %option{:value => "4"} Not Bad
            %option{:value => "5"} Good
            %option{:selected => "selected", :value => "6"} Pretty good
            %option{:value => "7"} Better
            %option{:value => "8"} High quality
            %option{:value => "9"} Awesome
            %option{:value => "10"} Perfect
    .ratingwidget2
      %form
        %strong.movethis Difficulty:
        %span#stars-cap2.movethis
        #stars-wrapper3
          %select{:name => "selrate"}
            %option{:value => "1"} Easy Peasy
            %option{:value => "2"} Still cruisin'
            %option{:value => "3"} Cram a little
            %option{:value => "4"} Do homework
            %option{:value => "5"} Average
            %option{:value => "6"} Kinda hard
            %option{:value => "7"} Should try
            %option{:value => "8"} Work in groups
            %option{:selected => "selected", :value => "9"} Oh god
            %option{:value => "10"} Give up
  #toppanelmid
    #classdescription
      What makes a rock star web programmer? HTML, DOM, CSS, JavaScript, SQL, PHP, JSON, and AJAX. 6.470 teaches all these and more, in-depth and hands-on. Lectures cover all the key topics and technologies. Teams of 1-3 compete to build database-backed web sites; the sites will be judged by a panel of experts, and winners announced at an awards ceremony and demo at the end of IAP, with $30K in prizes! Beginners and experienced web programmers welcome, but previous programming experience recommended.
    #metadata
      #metasub
        %ul.right
          %li
            %strong Schools Offering:
          %li
            %strong Units/Credits:
          %li
            %strong Average Class Size:
      %ul.answers
        %li Massachusetts Institute of Technology
        %li 6 units
        %li 170
    #classtags
      #classtagstitle Tags
      %a{:href => "#"} MIT,
      %a{:href => "#"} 6.470,
      %a{:href => "#"} IAP,
      %a{:href => "#"} Computer Science,
      %a{:href => "#"} Course 6,
      %a{:href => "#"} Web Design,
      %a{:href => "#"} Competition,
      %a{:href => "#"} CS,
      %a{:href => "#"} Javascript,
      %a{:href => "#"} HTML,
      %a{:href => "#"} CSS,
      %a{:href => "#"} AJAX,
      %a{:href => "#"} Ruby,
      %a{:href => "#"} Rails,
      %a{:href => "#"} SQL,
      %a{:href => "#"} PHP,
      %a{:href => "#"} JSON,
      %a{:href => "#"} Django,
      %a{:href => "#"} Class,
      %a{:href => "#"} Awesome,
      %a{:href => "#"} 1337,
  #toppanelbot
  #bottomleftpanel
    #bottomleftpaneltop
      .genericheader2
        %h1 Students:
    #bottomleftpanelmid
      = render :partial => "shared/student_profile", :collection => @students
    #bottomleftpanelbot
  #bottomrightpanel
    #bottomrightpaneltop
      .genericheader2
        %h1 Feedback:
    #bottomrightpanelmid
      .comment
        .commentcontent I like chicken.
        .commentauthor Colin Peterson
        .hr2
      .comment
        .commentcontent They didn't know what a fricken liger is. What the fricken hell this is fricken stupid.
        .commentauthor Napolean Dynamite
        .hr2
      .comment
        .commentcontent Something something French Blah I'm a short angry dude! I have armies!
        .commentauthor Napolean Bonaparte
        .hr2
      .comment
        .commentcontent This course taught me how to grow a huge beard. It worked, obviously.
        .commentauthor Albus Dumbledore
        .hr2
      .comment
        .commentcontent Thank you so much for teaching m-
        .commentauthor Taylor Swift
        .hr2
      .comment
        .commentcontent I'm real happy for you, ima let you finish, but 6.470 taught me the most of all time. OF ALL TIME.
        .commentauthor Kanye West
    #bottomrightpanelbot
:javascript
  $("#stars-wrapper2").stars({
  	inputType: "select",
  	split:2,
  	captionEl: $("#stars-cap")
  });
  $("#stars-wrapper3").stars({
  	inputType: "select",
  	split:2,
  	captionEl: $("#stars-cap2")
  });