%h2{:style => "text-align:center"}
  = link_to job.title, job
%p
  %strong Company:
  = link_to job.company.name, job.company
%p
  %strong Responsibilities:
  =h job.responsibilities
%p
  %strong Basic Qualifications:
  =h job.basic_qualifications
%p
  %strong Desired Qualifications:
  =h job.desired_qualifications
%p
  %strong Other Information:
  =h job.other_information
%p
  %strong Description:
  =h job.description
%p
  %strong Careers: 
  -job.careers.each do |career|
    = link_to career.name, career
