.itemtitle
  = link_to job.title, job
.itemcontent
%p
  %strong Company:
  = link_to job.company.name, job.company
%p
  %strong Responsibilities:
  =h job.responsibilities
%p
  %strong Basic Qualifications:
  =h job.basic_qualifications
%p
  %strong Careers: 
  -job.careers.each do |career|
    = link_to career.name, career
