@charset "UTF-8";
/* CSS Document */
html {
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
a{
text-decoration:none;	
}
a.nav{
text-decoration:none;
color:#FFF;
}
body{
background-image:url(../images/background.png);
padding:0px;
margin:0px;
}
.fontadjust{
font-family:Verdana, Geneva, sans-serif;	
}
#alert{
background-color:#FF6;
width:1007px;
left:50%;
margin-left:-495px;
position:relative;
top:20px;
font-family:Verdana, Geneva, sans-serif;
font-size:20px;
text-align:center;
opacity:.8;
}
.nobackground{
	background-color:#FFF;
	background-image:none;
}
#navigation{
float: left;
left: 50%;
margin-left: -600px;
position: relative;
top: 26px;
z-index: 100;
}
.navigation:hover{
opacity:.8 !important;	
}

.navigation{
float:left;
font-family:Verdana, Geneva, sans-serif;
font-size:20px;
text-decoration:none;
text-shadow:#000 0 -1px 0;
padding-right:10px;
opacity:0.3;
-webkit-transition-property: opacity; -webkit-transition-duration: 200ms;
color:#FFF;
}
.navigation strong{
position:relative;
top:5px;
left:-94px;
font-weight:100;
opacity:0;
text-shadow:#999 0 1px 0;
-webkit-transition-property: opacity,top; -webkit-transition-duration: 400ms;
}
.navigation strong:hover{
top:0px;
opacity:1;
}

@font-face{
	font-family:"Helvetica Ultralight";
	src: url(../HelveticaNeueLTCom-UltLt.ttf) format("truetype");
}

@font-face{
	font-family:"Chunkfive";
	src: url(../Chunkfive.ttf) format("truetype");
}

#everything{
	overflow:hidden;
	position:relative;
	width:100%;
	left:0px;
	top:0px;
	padding:0px;
	margin:0px;
}

/*header*/
#header{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:50px;
	z-index:2;
		background-image:url(../images/backgroundbar.png);
	background-repeat:no-repeat;
	height:80px;
	background-position:50% 0%;
	-moz-box-shadow: 0 1px 3px #000;
	-webkit-box-shadow: 0 1px 3px #000;
	box-shadow: 0 1px 3px #000;

}
#headeralt{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	z-index:2;
	height:80px;
}
#backgroundbar{
	background-image:url(../images/backgroundbar.png);
	position:absolute;
	left:0px;
	top:55px;
	width:100%;
	z-index:2;
	height:80px;
}


#hiring{
background-image: url(../images/hiring_1.png);
background-repeat: no-repeat;
height: 45px;
left: 50%;
margin-left: 320px;
position: absolute;
top: 6px;
width: 163px;
}

#hiring:hover{
	background-image: url(../images/hiring_2.png);

}
#hiring:active{
	background-image: url(../images/hiring_3.png);
}

#hiring2{
background-image: url(../images/student_1.png);
background-repeat: no-repeat;
height: 42px;
left: 50%;
margin-left: 320px;
position: absolute;
top: 6px;
width: 162px;
}

#hiring2:hover{
	background-image: url(../images/student_2.png);

}
#hiring2:active{
	background-image: url(../images/student_3.png);
}

#logo{
background-image: url(../images/logo.png);
background-repeat: no-repeat;
height: 38px;
left: 50%;
margin-left: -493px;
position: absolute;
top: 75px;
width: 214px;
}
.reclogo{
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	position:relative;
	top: 21px;
float:left;
width:214px;
height:38px;
left:50%;
margin-left:-493px;
}
#btn{
	background-image:url(../images/login_1.png);
	left:50%;
	width:95px;
	height:50px;
	margin-left:385px;
	position:absolute;
	top:69px;
}
#btn:hover{
		background-image:url(../images/login_2.png);

}
#btn:active{
		background-image:url(../images/login_3.png);

}

#btn2{
	background-image:url(../images/facebooksignin.png);
	width:32px;
	height:32px;
		position:absolute;
		left:50%;
		margin-left:-61px;
		top:77px;
}
#btn3{
	background-image:url(../images/linkedinsignin.png);
	width:32px;
	height:32px;
		position:absolute;
		left:50%;
		margin-left:-99px;
		top:77px;
}

#form1{
	background-image:url(../images/form.png);
	left:50%;
	width:196px;
	height:39px;
	margin-left:186px;
	position:absolute;
	top:75px;
}

#form2{
	background-image:url(../images/form.png);
	left:50%;
	width:196px;
	height:39px;
	margin-left:-20px;
	position:absolute;
	top:75px;
}

#login{
	width:100%;
	height:100%;
}

.texta{
	outline:0px !important;
	border: 0px;
	width:180px;
	height:30px;
	position:relative;
	left:6px;
	top:3px;
	font-size:16px;
}

/*showcase*/


#leftControl{
	background-image:url(../images/left.png);
height: 45px;
left: 50%;
margin-left: -490px;
position: absolute;
top: 290px;
width: 46px;
z-index: 100;
}

#rightControl{
	left:50%;
	margin-left:430px;
	background-image:url(../images/right.png);
	position:absolute;
	width:46px;
	height:45px;
	top:290px;
  z-index:100;
}


#slideshow #slidesContainer {
	top:60px;
  margin:0 auto;
  width:100%;
  height:500px;
  overflow:auto; /* allow scrollbar */
  position:relative;
  z-index:10;
  padding-left:50%;
  margin-left:-400px;
}

#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:99%; /* reduce by 20 pixels to avoid horizontal scroll */
  height:400px;
    z-index:10;
}

.control {
  display:block;
  width:39px;
  height:400px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
    z-index:10;
}

#asdf{
left: -150px;
position: relative;
top: -110px;
}

#asdf2{
	position:relative;
	left:-140px;
	top:-110px;
}
#description{
left: 380px;
position: relative;
top: -460px;
width: 350px;
z-index: 500;
}

#description2{
left: 380px;
position: relative;
top: -425px;
width: 350px;
z-index: 500;}

.sliderhead{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:35px;
	text-shadow: #666 2px 1px 0;
}
.sliderhead2{
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
text-shadow: white -1px -2px 0px
}

.slidersub{
	font-family:"Helvetica Ultralight";
	color:#FFF;
	font-size:23px;
	position:relative;
	top:10px;
	text-shadow:#666 0 1px 0;
	letter-spacing:1px;
	}

.slidersub2{
color: black;
font-family: 'Helvetica Ultralight';
font-size: 23px;
letter-spacing: 1px;
position: relative;
text-shadow: white 0px -1px 0px;
top: 10px;
	}

#asdf4{
left: 50%;
position: absolute;
top: 360px;
z-index:50;
margin-left:-20px;
}

#asdf5{
left: -150px;
position: relative;
top: -68px;}

#bg1{
	background-image:url(../images/background.jpg);
	background-repeat:no-repeat;
	position:absolute;
	width:100%;
	height:460px;
	top:55px;
	left:0px;
	background-position:center;
}
#bgpink{
	background-image:url(../images/backgroundpink.png);
	background-repeat:no-repeat;
	position:absolute;
	width:100%;
	height:460px;
	top:55px;
	left:0px;
	background-position:center;
}


/*counters*/
#counters{
	position:absolute;
	left:0px;
	top:600px;
	width:100%;
	height:100px;
}

.bigtext{
	font-size: 40px;
/*	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	font-family: "Helvetica Ultralight", sans-serif;
	letter-spacing:1px;
	color:#000;
}

#recruiters{
	position:absolute;
	left: 50%;
	margin-left:-400px;
}

#successes{
	position:absolute;
	left:50%;
	margin-left:200px;
}

.counter{
	width:339px;
	height:73px;
	background-image:url(../images/counter.jpg);
	background-repeat:no-repeat;
}

#counterwidget{
	position:absolute;
	left: 50%;
	margin-left:-480px;
	top:60px;
}

#counterwidget2{
	position:absolute;
	left: 50%;
	margin-left:135px;
	top:60px;
}

.separator{
	width:990px;
	height:70px;
	background-image:url(../images/seperator.png);
	background-repeat:no-repeat;
}

#sep1{
left: 50%;
margin-left: -495px;
position: absolute;
top: 655px;
}

/*whydiv*/
#whydiv{
height: 800px;
left: 0px;
position: absolute;
top: 590px;
width: 100%;
}
#why{
color: black;
font-family: 'Helvetica Ultralight', sans-serif;
font-size: 40pt;
letter-spacing: 1px;
position: absolute;
text-align: center;
width: 100%;
}

#whytext{
	font-family:Verdana, Geneva, sans-serif;
}

.description{
	font-size: 12pt;
	font-family:Verdana, Geneva, sans-serif;
	letter-spacing:1px;
	color:#000;
}

#whypar{
left: 50%;
margin-left: -450px;
position: absolute;
text-align: center;
top: 85px;
width: 900px;
}

.bigtext2{
	font-size: 25px;
	font-family:Verdana, Geneva, sans-serif;
	letter-spacing:1px;
	color:#000;
}

#res{
left: 50%;
margin-left: -430px;
position: absolute;
top: 210px;
}

#respar{
	left: 50%;
margin-left: -430px;
position: absolute;
top: 230px;
width: 400px;
}

#resimg{
	background-image:url(../images/screens1_03.png);
	width:368px;
	height:222px;
	position:absolute;
	top:180px;
	left:50%;
	margin-left:30px;
}

#int{
	position:absolute;
	left:50%;
	margin-left:0px;
	top:430px;
}

#intpar{
	position:absolute;
	left:50%;
	margin-left:0px;
	top:450px;
	width:400px;
}

#intimg{
	background-image:url(../images/mag.jpeg);
	width:274px;
	height:245px;
	position:absolute;
	top:370px;
	left:50%;
	margin-left:-450px;
}

#hir{
left: 50%;
margin-left: -430px;
position: absolute;
top: 610px;
}

#hirpar{
left: 50%;
margin-left: -430px;
position: absolute;
top: 650px;
width: 400px;
}

#hirimg{
	background-image:url(../images/magnet.png);
	width:246px;
	height:240px;
	position:absolute;
	top:580px;
	left:50%;
	margin-left:80px;
}

#hiri{
	position:absolute;
	left:50%;
	margin-left:0px;
	top:810px;
}

#hiripar{
	position:absolute;
	left:50%;
	margin-left:0px;
	top:850px;
	width:400px;
}

#hiriimg{
	background-image:url(../images/screens3_03.png);
	width:368px;
	height:222px;
	position:absolute;
	top:730px;
	left:50%;
	margin-left:-430px;
}

#tagx{
	position:absolute;
	left:50%;
	margin-left:-430px;
	top:960px;
}

#tagxpar{
	position:absolute;
	left:50%;
	margin-left:-430px;
	top:1000px;
	width:400px;
}

#tagximg{
	background-image:url(../images/screens2_03.png);
	width:368px;
	height:222px;
	position:absolute;
top: 910px;	left:50%;
	margin-left:0px;
}

#pers{
	position:absolute;
	left:50%;
	margin-left:0px;
	top:1160px;
}

#perspar{
	position:absolute;
	left:50%;
	margin-left:0px;
	top:1200px;
	width:400px;
}

#persimg{
	background-image:url(../images/screen_03.png);
	width:368px;
	height:222px;
	position:absolute;
	top:1100px;
	left:50%;
	margin-left:-450px;
}

#sep2{
	position:absolute;
	left:50%;
	margin-left:-495px;
	top:1870px;
}

#punchline{
	font-size: 26pt;
/*	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	font-family: "Helvetica Ultralight", sans-serif;
	letter-spacing:1px;
	color:#000;
	position:absolute;
	top:1920px;
	left:50%;
	margin-left:-370px;
}

#signup {
width:345px;
height:122px;
position:absolute;
top:1980px;
left:50%;
margin-left: -178px;
background-image:url(../images/signup_1.png);
}
#signup:hover{
	background-image:url(../images/signup_2.png);
}
#signup:active{
	background-image:url(../images/signup_3.png);
}
#footer{
	background-color: #142535;
	background-image: none;
	border-top: 1px solid #454545;
	border-top-color: #454545;
	border-top-width: 1px;
	border-top-style: solid;
	color: #B0B0B0;
	position:absolute;
	top:1200px;
	width:100%;
	height:80px;
	left:0px;
}

#footer2{
	background-color: #242424;
	background-image: none;
	border-top: 1px solid #454545;
	border-top-color: #454545;
	border-top-width: 1px;
	border-top-style: solid;
	color: #B0B0B0;
	position:absolute;
	top:2200px;
	width:100%;
	left:0px;
	height:80px;
}

#footer3{
	background-color: #142535;
	background-image: none;
	border-top: 1px solid #454545;
	border-top-color: #454545;
	border-top-width: 1px;
	border-top-style: solid;
	color: #B0B0B0;
	position:absolute;
	bottom:0px;
	width:100%;
	left:0px;
	height:80px;
}

#footer5{
background-color: #142535;
background-image: none;
border-top-color: #454545;
border-top-style: solid;
border-top-width: 1px;
clear: both;
color: #B0B0B0;
height: 80px;
left: -150%;
position: relative;
top: 200px;
width: 450%;
}

#footerbuilder{
background-color:#142535;
background-image: none;
border-top-color: #454545;
border-top-style: solid;
border-top-width: 1px;
clear: both;
color: #B0B0B0;
height: 80px;
left:0px;
position: relative;
width: 100%;
margin-top:100px;
}

#copyright{
top: 40px;
font-family: Verdana, Geneva, sans-serif;
font-size: 10px;
font-weight: bold;
left: 50%;
margin-left: -150px;
position: relative;
text-shadow: black 0px -1px 0px;
}

#footerlinks{
font-family: helvetica, sans-serif;
font-size: 13px;
left: 50%;
margin-left: -194px;
position: relative;
top:5px;
width: 500px;
}
#footer, #footerlinks a {
    text-decoration:none;
    color:#FFF;
	text-shadow:#000 0 -1px 0;
}


/*HOMEcontent*/

#profpic{
	background-image:url(../images/profpic.png);
height: 247px;
left:-6px;
position: relative;
width: 195px;
top:-9px;
}
#resbuild{
	background-image:url(../images/build_1.png);
	width:519px;
	height:115px;
	position:relative;
	left:50%;
	margin-left:-303px;
}
#resbuild2{
	background-image:url(../images/post_1.png);
	width:519px;
	height:115px;
	position:relative;
	left:50%;
	margin-left:-303px;
}
#resbuild:hover{
	background-image:url(../images/build_2.png);
}
#resbuild:active{
	background-image:url(../images/build_3.png);

}
#resbuild2:hover{
	background-image:url(../images/post_2.png);
}
#resbuild2:active{
	background-image:url(../images/post_3.png);

}

#badges{
position: relative;
}

#challenge{

position: relative;
width: 513px;
}
#feed{
position: relative;
width:18px;
}
.feedtop{
	background-image:url(../images/feedtop.png);
	position:relative;
	width:279px;
	height:58px;
}
.feedmiddle{
	background-image:url(../images/feedmid.png);
	position:relative;
	width:279px;
	float:left;
}
.feedbottom{
	background-image:url(../images/feedbot.png);
	position:relative;
	width:279px;
	height:18px;
	float:left;
}
.contenttop{
	background-image:url(../images/contenttop.png);
	width:504px;
	height:58px;
	position:relative;
}
.contentmiddle{
	background-image:url(../images/contentmid.png);
	width:504px;
	position:relative;
}
.contentbottom{
	background-image:url(../images/contentbot.png);
	width:504px;
	height:14px;
	position:relative;
}
.sidetop{
	background-image:url(../images/sidetop.png);
	width:183px;
	height:56px;
	position:relative;
	background-repeat:no-repeat;
}
.sidemiddle{
	background-image:url(../images/sidemid.png);
	width:183px;
	position:relative;
	z-index:5;
}

.sidemiddle ul{
	margin:0px;
}


.sidebottom{
	background-image:url(../images/sidebot.png);
	width:183px;
	height:15px;
	position:relative;
}
#friends{
left: 50%;
margin-left: -290px;
position: relative;
width: 513px;
}
#search{
background-image: url(../images/start_1.png);
height: 115px;
left: 50%;
margin-left: -303px;
position: relative;
width: 519px;
}
#search:hover{
	background-image: url(../images/start_2.png);
}
#search:active{
	background-image: url(../images/start_3.png);
}
#top{
	left: 50%;
	margin-left: -495px;
	position: relative;
	top: 18px;
	z-index:2;
}
#toptop{
background-image:url(../images/expandertop.png);
width:1005px;
height:21px;
position:relative;
}
#topmid{
background-image:url(../images/expandermid.png);
width:1005px;
position:relative;
z-index:2;
}
#topbot{
background-image:url(../images/expanderbot.png);
width:1005px;
height:22px;
position:relative;
}
#feedback{
height: 305px;
left: 0px;
margin-top: -250px;
position: fixed;
top: 50%;
width: 6px;
z-index: 1000;
}

#feedback a{
border: none;
display: block;
height: 104px;
margin-bottom: 3px;
margin-left: -12px;
overflow: hidden;
text-indent: -8793px;
width: 41px;	
}

#feedbackicon{
	background-image:url(../images/awesome.png);
	background-position:top;
}

#blogicon{
	background-image:url(../images/awesome.png);
	background-position:bottom;
	height:80px !important;
}

.contact:hover { margin-left:0px !important; }
		
.contact { -webkit-transition-property: margin-left; -webkit-transition-duration: 400ms;
-moz-transition-property: margin-left; -moz-transition-duration: 400ms;}

/*************
public
*************/
#fullname{
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:20.29pt;
	position:relative;
	left:50%;
	margin-left:-290px;
	width:400px;
	font-weight:bold;
	top:-8px;
	text-shadow: #FFF 1px 1px 0;
}

#experiences{
position: relative;
width: 513px;
left:50%;
margin-left:-290px;
padding-top: 13px;
}

#activities{
position: relative;
width: 513px;
	left:50%;
	margin-left:-290px;
	padding-top:21px;
}

#skills{
position: relative;
width: 513px;
	left:50%;
	margin-left:-290px;
		padding-top:21px;
}

#courses{
position: relative;
width: 513px;	
	left:50%;
	margin-left:-290px;
		padding-top:21px;
}

#interests{
position: relative;
width: 185px;
padding-top:21px;
}

#basicinfo{

position: relative;
width: 185px;
padding-top:9px;
}

#awards{

position: relative;
width: 513px;
	left:50%;
	margin-left:-290px;
		padding-top:21px;
}

#leftcolumn{
	position:relative;
	float:left;
	top:50px;
left: 50%;
margin-left: -500px;
}
#middlecolumn{
	position:relative;
	top:50px;
	float:left;
	left:50%;
	margin-left:-110px;

}
#rightcolumn{
	position:relative;
	top:50px;
	float:left;
	left:50%;
	margin-left:123px;
}

#infofields{list-style:none;
position:relative;
left:-20px;
font-size:12px;
}

.subheader{
text-decoration:underline;
color:#333;
font-size:14px;
position:relative;
left:20px;
}

.field{
text-decoration:underline;
color:#333;

}
.value{
color:#666;	
padding-bottom:10px;
}
.value:hover{
background-color:#FF6;	
}

.headertext3{
font-family:Verdana, Geneva, sans-serif;
font-size:20px;
position:relative;
left:20px;
top:12px;
text-shadow: #FFF 0 1px 0;
}
.headertext2{
font-size: 25px;left: 0px;width:500px;position: relative;text-align: left;top: 3px;	
}
.hover{
position:relative;
font-family:Verdana, Geneva, sans-serif;
font-size:12px;
margin:0px;
left:20px;
width:90%;
list-style:none;
}

.hover:hover{
background-color:#FF6;	
}

/******
tooltips
******/
	.tip {
		width: 212px;
		padding-top: 37px;
		display: none;
		position: absolute;
		background: transparent url(../images/tipTop.png) no-repeat top;
		z-index:6;}

	.tipMid {background: transparent url(../images/tipMid.png) repeat-y; padding: 0 25px 20px 25px;		z-index:6;}
	.tipBtm {background: transparent url(../images/tipBtm.png) no-repeat bottom; height: 32px;		z-index:6;}

/******
settings
******/
li.lililili {
margin-bottom:10px;	
}

#nottags{
position:absolute;
top:180px;
height:600px;
left:50%;
margin-left:-300px;
font-family:Helvetica Ultralight;
padding-bottom:80px;
}

#something2{
font-size: 30px;
left: 300px;
list-style: none;
position: absolute;
text-align: right;
}
#something3{
font-size: 30px;
list-style: none;
left:-80px;
position: relative;
text-align: right;
float:left;
}

.something2{
font-size:20px;padding-left:100px;left: 300px;
list-style: none;
position: absolute;
text-align: right;
}
#settings1{
font-family: 'Helvetica Ultralight';
left: -50px;
letter-spacing: 1px;
position: relative;
top: 19px;
float:left;
}
#settings{
left: 130px;
top:19px;
position: relative;	
}
.textinput{
	margin-bottom:5px;
	width:250px;
	height:25px;
	font-size:23px;
}

.differentsearch{ -webkit-appearance: textfield;
z-index:2000;
border:0px;
width:240px;
height:28px;
margin-left:4px;
margin-top:4px;
font-size:20px;
}


.differentsearch2{ -webkit-appearance: textfield;
z-index:2000;
border:0px;
width:240px;
height:28px;
margin-left:4px;
margin-top:4px;
font-size:20px;
}

#searchbox{
background-image:url(../images/searchbox.png);
width:248px;
height:36px;
float:left;
position:relative;
top:20px;
z-index:500;
left:50%;
margin-left:262px;

}
.tag{
background-image:url(../images/x.png);
background-position:61px 1px;
background-repeat:no-repeat;
height:15px;
}
.tag:hover{
background-position:60px -15px;
}
.scribbles{
color: #666;
font-family: Verdana, Geneva, sans-serif;
font-size: 17pt;
padding-left: 20px;
padding-top: 7px;
position: relative;
}
.scribbles:hover{
	color:#333;
	text-shadow:#FFF 0 -1px 0;
}
#divider{
left: 140px;
position: relative;
top: -26px;
}

#feedupdate{
left: 160px;
position: relative;
top: -53px;
}
#update{
color: #666;
font-family: Verdana, Geneva, sans-serif;
font-size: 17pt;
left: 903px;
position: relative;
top: -80px;
}
#update:hover{
	color:#333;
	text-shadow:#FFF 0 -1px 0;
}
#tags{
left: 150px;
position: relative;
top: -10px;
}
#topform{
left: 40px;
position: relative;
top: 50px;
}
#bottomform{
	height:400px;
}
#import{
font-family: 'Helvetica Ultralight';
font-size: 25px;
left: 50%;
margin-left: -600px;
opacity: 0.5;
padding-bottom: 70px;
padding-left: 400px;
position: relative;
top: 40px;
}
#basic{
font-family: 'Helvetica Ultralight';
left: 50%;
margin-left: -600px;
opacity: 0.5;
padding-left: 400px;
position: relative;
}
#tagyourself{
font-family: 'Helvetica Ultralight';
left: 50%;
margin-left: -500px;
opacity: 0.5;
padding-left: 300px;
position: relative;
top: -50px;
z-index: 100;
}
#optional{
font-family: 'helvetica ultralight';
font-size: 20px;
left: 50%;
margin-left: -500px;
opacity: 0.5;
padding-left: 300px;
position: relative;
width: 500px;
}
.highlight{
	background-color:#FFF;	
}
.highlight:hover{
	text-shadow:#000 1px 1px 1px;
	position:relative;
	top:-2px;
	border:dotted #CCC 1px;
}
		.hoveropacity:hover { opacity:1.0 !important; }
		
		.hoveropacity { -webkit-transition-property: opacity; -webkit-transition-duration: 200ms;
		-moz-transition-property: opacity; -moz-transition-duration: 200ms;}
		
fieldset{
	margin:0px;
	padding:0px;
	border:none;
}
.basicinput{
width:250px;
height:14px;
font-size:14px;
padding-bottom:8px;
}

#big{
position:relative;
top:40px;
left:50%;
margin-left:-503px;
}
#bottomleftpaneltop{
position:relative;background-image:url(../images/pages_10.png);background-repeat:no-repeat;width:502px;height:58px;	
}

#bottomleftpanelmid{
	position:relative; background-image:url(../images/pages_13.png);width:502px;
}
#bottomleftpanelbot{
	position:relative;background-image:url(../images/pages_15.png);width:502px;height:13px;
}

#bottomrightpaneltop{
position:relative;background-image:url(../images/pages_10.png);background-repeat:no-repeat;width:502px;height:58px;	
}

#bottomrightpanelmid{
	position:relative; background-image:url(../images/pages_13.png);width:502px;
}
#bottomrightpanelbot{
	position:relative;background-image:url(../images/pages_15.png);width:502px;height:13px;
}
ul{
list-style:none;	
}
ul.strangeul{
	-webkit-padding-start: 0px; margin:0px; padding-left:10px;
}
	
#toppaneltop{
	position:relative;background-image:url(../images/pages_03.png);width:1023px;height:64px;
}
#toppanelmid{
	position:relative;background-image:url(../images/pages_06.png);width:1023px;

}
#toppanelbot{
	position:relative;background-image:url(../images/pages_08.png);width:1023px;height:14px;

}
#bottomleftpanel{
	position:relative;
	left:3px;
	top:10px;
	float:left;
}
#bottomrightpanel{
float: left;
left: 13px;
position: relative;
top: 10px;
}
h1{
margin:0px;	
}

.genericheader{
width:100%;position:relative;top:10px;left:18px;text-align:left;
}
.genericheader2{
width:100%;position:relative;top:10px;text-align:center;
}

.ratingwidget{
position:relative;top:-25px;left:580px;	
}
.ratingwidget2{
position:relative;top:-43px;left:800px;	
}

#classdescription{
text-align:left;width:940px;padding-left:40px;padding-top:11px;	
}
#metasub{
width:300px;	
}
ul.right{
text-align:right;	
}
ul.answers{
left: 280px;
position: relative;
top: -73px;
}

#classtags{
width:600px;position:relative;left:40px;top:-60px;	
}
#classtagstitle{
font-family:helvetica;font-size:20px;	
}
.movethis{
position:relative;left:-100px;	
}
.linkedinimport{
position:relative;top:8px;left:20px;
}
.headertext{
	font-size:25px;
	font-family:helvetica ultralight;
	position:relative;
	left:0px;
}
.builderpadding{
padding-bottom:10px;	
}
.otherbasicinput{
width:80px;	
}
.othertag{
left: 120px;position: relative;top: 25px;	
}
.tagcontrol0{
width:270px;	
}
.othertag2{
width:70px;position:absolute;left:200px;top:4px;	
}
.sidenote{
font-size:12px;letter-spacing:1px;	
}
.borderthing{
border:dotted #CCC 1px;padding-left:50px;	
}
.specialtext{
width:200px;height:100px;	
}
.button{
	left:50%;margin-left:-200px;position:relative;top:50px;height:50px;width:100px;
}
.button2{
	left:50%;position:relative;top:50px;height:50px;width:100px;
}
	.ui-autocomplete-category {
		font-weight:bold;
		text-decoration:underline;
		padding: .2em .4em;
		margin: .8em 0 .2em;
		line-height: 1.5;
		z-index:500;
	}
	.ui-autocomplete{
		position:absolute;
		font-size:14px;
		z-index:500;
	}
.buildertable{
	position:relative;
	left:-150px;
}
.profilepicture{
position:relative; top:8px; left:12px;
}
.newjob{
background-color: #FF6;font-family: Verdana;left: 50%;margin-bottom: 10px;margin-left: -200px;padding-left: 150px;position: relative;top: 50px;width: 352px;
}
.jobentryborder{
border: #CCC dotted 1px;	
}
.tablepadding{
padding-top:10px;	
}
.tablealign{
text-align:left;	
}
.randominput{
font-family:helvetica;left:157px;top:-35px;position:relative;	
}
.extrapadding{
	padding-left:200px;
}
.managecontent{
position:relative;top:-130px;	
}
.specialul{
list-style:none;text-align:center;	
}
.specialerul{
position:relative;left:-40px;color:#666;	
}
.searchstyles{
position:relative;left:50%;margin-left:-504px;top:50px;	
}
.settingstag{
font-size: 20px;left: 110px;position: relative;text-align: left;top: 12px;	
}
.widthadjust{
width:270px;	
}
.signupbutton{
background-image:url(../images/signup_1.png);
width:345px;
height:122px;
z-index:100;
position:absolute;
left:50%;
margin-left:-35px;
top:345px;
}
.signupbutton:hover{
	background-image:url(../images/signup_2.png);
}
.signupbutton:active{
	background-image:url(../images/signup_3.png);
}
#facebooklogin{
	background-image:url(../images/facebook.png);
	width:215px;
	height:215px;
	float:left;
	background-repeat:no-repeat;
	position:relative;
	left:50%;
	margin-left:-500px;
	padding-right:50px;
	border-right:dotted #333 1px;
}
#linkedinlogin{
background-image:url(../images/linkedin.png);
	width:200px;
	height:199px;
	float:left;
	background-repeat:no-repeat;
	position:relative;
	top:3px;
	left:50%;
	margin-left:-180px;
	padding-right:60px;
	border-right:dotted #333 1px;

}

.blubbity{
	position:relative;
	top:10px;
	left:50%;
	margin-left:145px;
	text-align:right;
}
#forgot{
	position:relative;
	left:50%;
	margin-left:200px;
	text-align:right;

}
.signupinput{
	height:25px;
	width:200px;
	font-size:20px;
	margin-bottom:10px;
}
.button3{
position:relative;
left:50%;
top:10px;
margin-left:182px;
height:50px;width:100px;
}
.contain{
	position:relative;
	top:80px;
	
}
.big{
	text-align:center;
}
.student{

}
.profpicsmall{
	float:left;
	background-color:#FFF;
	width:50px;
	height:50px;
	position:relative;
	margin-left:20px;
	margin-top:5px;
}
.studentname{
	font-size:18px;
	color:#000;
	left:10px;
	position:relative;
}
.metadata{
	position:relative;
	left:10px;
	font-size:12px;
	color:#5b5b5b;
	width:480px;
}
.hr{
	width:450px;
	height:1px;
	position:relative;
	left:25px;
	margin-top:20px;
	border-bottom:#999 1px;
	border-bottom-style:solid;
}
.comment{
	
}
.commentcontent{
	font-size:14px;
	color:#000;
	position:relative;
	left:20px;
	width:470px;
}
.commentauthor{
	font-size:12px;
	color:#5b5b5b;
	position:relative;
	left:20px;
}
.hr2{
	width:450px;
	height:1px;
	position:relative;
	left:25px;
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:#999 1px;
	border-bottom-style:solid;
}
.hr3{
	width:230px;
	height:1px;
	position:relative;
	left:25px;
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:#999 1px;
	border-bottom-style:solid;
	float:left;
}
.feedcontent{
	font-size:12px;

}
.feedname{
	font-size:18px;
	}
.feedtime{
	font-size:11px;
	color:#5b5b5b;
	font-style:italic;
	padding-top:5px;
}
.feedright{
	width:175px;
	position:relative;
	float:left;
	top:3px;
	left:10px;
	
}

.feedcontent2{
	font-size:12px;
	position:relative;
	top:3px;
	left:10px;
	float:left;
	width:180px;
}
.feedtime2{
	font-size:11px;
	color:#5b5b5b;
	font-style:italic;
	position:relative;
	left:10px;
	padding-top:5px;
	float:left;
}
.biglist{
	list-style:none;
	text-decoration:none;
	position:relative;
	left:50%;
	margin-left:-493px;
	font-family:Verdana, Geneva, sans-serif;
	color:#000;
	width:1000px;
	padding-top:20px;
	border:#999 1px dotted;
	top:30px;
}
.innerlist{
	margin:20px;	
}
.innerlist li{
	padding-bottom:10px;
}
.innerlist li a{
	color:#000;
}
.innerlist li a:hover{
	color:#999;
	text-decoration:underline;
}
.friendgrid{
position:relative;
left:7px;
}
.friendpoint{
	margin:10px;
	width:50px;
	height:50px;
	background-color:#FFF;
	float:left;
}
.floatleft{
	float:left;
}
.movethis2{
	position:relative;
	left:650px;
	top:15px;
}
.xer{
background-image:url(../images/x.png);
background-position:0 0;
height:15px;
width:15px;
position:relative;
left:85px;
top:3px;
float:left;
}
.delete{
position:relative;
left:620px;
top:15px;
float:left;
}
.xer:hover{
background-position:0 15px;	
}
.labelinputter{
	position:absolute;
	left:50%;
	margin-left:-490px;
	top:185px;
}
.labelinputter2{
	width:150px;
	height:30px;
	font-size:25px;
	font-family:Verdana, Geneva, sans-serif;
}

/*****************************
*****************************
***************************** keone's changes
*/
.star_selected{
background-image:url(/images/starhover.png);
width:33px;
height:32px;
position:relative;
left:83px;
top:-60px;
}
.star_selected:hover{
	background-image:url(/images/starbefore.png);
}

.downlike_selected{
	background-image:url(/images/downhover.png);
	width:31px;
	height:30px;
}
.downlike_selected:hover{
	background-image:url(/images/votedown.png);
}
.uplike_selected{
	background-image:url(/images/uphover.png);
	width:31px;
	height:30px;
	position:relative;
	left:40px;
	top:-30px;
}
.uplike_selected:hover{
	background-image:url(/images/voteup.png);
}


#maincontent{
 position:relative;
 left: 50%;
 margin-left: -500px;
	padding-top: 20px;
	width: 1005px;
}

.highlight{
background-color:#FF6;
}
#button_block{
display:none;
padding-left:15px;
padding-top:30px;
margin-top:-15px;
}
.expandable{
border:1px #999 solid;	
border-bottom-left-radius: 4px 4px;
border-bottom-right-radius: 4px 4px;
border-top-left-radius: 4px 4px;
border-top-right-radius: 4px 4px;
white-space:pre-wrap;
word-wrap:break-word;
position:relative;
margin-top:-15px;
top:10px;
left:17px;
height:30px;
width:965px;
font-size:25px;
font-family:Verdana, Geneva, sans-serif;
}
.movingbutton{
width:100px;
height:30px;
font-size:20px;
font-family:Verdana, Geneva, sans-serif;
margin-left:10px;
color:#333;
}
.wrapper{
	font-family:Helvetica Ultralight;
	font-size:20px;
	width:500px;
	left:50%;
	margin-left:-250px;
	position:relative;
	border:1px #999 dotted;
	top:50px;
}
.fields{
	text-align:right;	
}
.fields2{
	font-size:15px;	
}