- title "Career"

#top
  .scribbles Scribbles
  %img#divider{:src => "/images/divider.png"}/
  %form#feedupdate
    %input{:placeholder => "Update your feed!", :style => "width:730px;", :type => "search"}
  #update Update

#maincontent
  %p
  	%strong Name:
  	=h @career.name
  %p
  	%strong Description:
  	=h @career.description
  %p
  	%strong Jobs:
  	%ul
  	-@career.jobs.each do |job|
  		%li=link_to job.name, job
  
  %p
  	= link_to "Edit", edit_career_path(@career)
  	|
  	= link_to "Destroy", @career, :confirm => 'Are you sure?', :method => :delete
  	|
  	= link_to "View All", careers_path
