- title "Career"

=render :partial => "shared/update"
#maincontent
  %p
    %strong Name:
    =h @career.name
  %p
    %strong Description:
    =h @career.description
  %p
    %strong Jobs:
    %ul
      -@career.jobs.each do |job|
        %li=link_to job.name, job
  %br/
  %p
    %strong Students interested in #{@career.name}
    %ul
      -@career.students.each do |student|
        %li=link_to student.name, student
  %br/  
  %p
    = link_to "all careers", careers_path
