.contain
  %h1.big Sign up
  %h2.big Signin using either Facebook or Linkedin, or create a new account.
  %br/
  %br/
  %a{:href => "/users/auth/facebook"}
    #facebooklogin
  %a{:href => "/users/auth/linked_in"}
    #linkedinlogin
  = form_tag "/users", :method => :post, :class => "blubbity" do
    %table
      %tr
        %td Email:
        %td
          = email_field_tag "user[email]", nil, :class => "signupinput"
      %tr
        %td Password:
        %td
          = password_field_tag "user[password", nil, :class => "signupinput"
      %tr
        %td Confirmation:
        %td
          = password_field_tag "user[password_confirmation]", nil, :class => "signupinput"
  %button.button3 Submit!