%div{:id => "follow#{user_id}", :class => "starbox"}
	- if followed
		- star_file = "/images/star_full.png"
		- title = "Click to unfollow."
	- else
		- star_file = "/images/star_empty.png"
		- title = "Click to follow."
	= link_to image_tag(star_file, :width => 50, :height => 50, :class => "star-image", :title => title), follow_path(:user_id=>user_id, :format => :js), :remote => true