.feeditem
  .feedcontent2
    = link_to "browse careers", careers_path
  .feedcontent2
    = link_to "browse clubs", clubs_path
  .feedcontent2
    = link_to "browse schools/depts/courses", schools_path
.hr3