.feeditem
  .feedcontent2
    = link_to "browse careers", careers_path
  .feedcontent2
    = link_to "browse courses", courses_path
  .feedcontent2
    = link_to "browse clubs", clubs_path
  .feedcontent2
    = link_to "browse schools", schools_path
.hr3