:javascript
  $(function() 
  {
  $(".expandable").focus(function()
  {
  $(this).animate({"height": "120px",}, "fast" );
  $("#button_block").slideDown("fast");
  return false;
  });
  $("#cancel").click(function()
  {
  $(".expandable").animate({"height": "30px",}, "fast" );
  $("#button_block").slideUp("fast");
  return false;
  });
  });
  
#top
  #toptop
  #topmid
    %textarea.expandable{:placeholder => "Update your feed!"}
    #button_block
      %button.movingbutton Share
      %button#cancel.movingbutton Cancel
  #topbot