%div{:id => "votes-#{voteable.class}-#{voteable.id}", :class => "votebox"}
	- up_img_file = "/images/up-gray.png"
	- down_img_file = "/images/down-gray.png"
	- if vote && (vote==1)
		- up_img_file = "/images/up.png"
		- up_title = "You voted for this item."
		- down_title = "Click to cancel upvote for this item."
	-elsif vote && (vote==-1)
		- down_img_file = "/images/down.png"
		- up_title = "Click to cancel downvote for this item."
		- down_title = "You voted against this item."
	-else
		- up_title = "Click to vote for this item."
		- down_title = "Click to vote against this item."
		
	= link_to_remote image_tag(up_img_file, :width => 50, :height => 50, :class => "arrow-image", :title => up_title),
		:update=>"vote",
		:url => vote_path(:voteable_id=>voteable.id, :voteable_type=>voteable.class.name, :vote_for=>"1")
	= link_to_remote image_tag(down_img_file, :width => 50, :height => 50, :class => "arrow-image", :title => down_title),
		:update=>"vote", 
		:url => vote_path(:voteable_id=>voteable.id, :voteable_type=>voteable.class.name, :vote_for => "0")