%div{:id => "votes-#{voteable.class}-#{voteable.id}", :class => "votebox"}
	- up_img_file = "/images/up-gray.png"
	- down_img_file = "/images/down-gray.png"
	- if current_user && current_user.voted_for?(voteable)
		- up_img_file = "/images/up.png"
		- up_title = "You voted for this item."
		- down_title = "Click to cancel upvote for this item."
	-elsif current_user && current_user.voted_against?(voteable)
		- down_img_file = "/images/down.png"
		- up_title = "Click to cancel downvote for this item."
		- down_title = "You voted against this item."
	-else
		- up_title = "Click to vote for this item."
		- down_title = "Click to vote against this item."
		
	= link_to_remote image_tag(up_img_file, :width => 50, :height => 50, :class => "arrow-image", :title => up_title),
		:update=>"vote",
		:url => votes_path(:voteable_id=>voteable.id, :voteable_type=>voteable.class.name, :vote=>"for")
	%div.vote-count
		VOTES
		%span=(voteable.vote_cache)
	= link_to_remote image_tag(down_img_file, :width => 50, :height => 50, :class => "arrow-image", :title => down_title),
		:update=>"vote", 
		:url => votes_path(:voteable_id=>voteable.id, :voteable_type=>voteable.class.name, :vote=>"against")