%span{:id => "votes-#{voteable.class}-#{voteable.id}", :class => "votebox"}
  - if vote && (vote==1)
    - up_class_name = "uplike_selected"
    - up_title = "You voted for this item."
    - down_class_name = "downlike"
    - down_title = "Click to cancel upvote for this item."
  -elsif vote && (vote==-1)
    - up_class_name = "uplike"
    - down_class_name = "downlike_selected"
    - up_title = "Click to cancel downvote for this item."
    - down_title = "You voted against this item."
  -else
    - up_class_name = "uplike"
    - down_class_name = "downlike"
    - up_title = "Click to vote for this item."
    - down_title = "Click to vote against this item."
    
  = link_to vote_path(:entity_id=>voteable.id, :entity_type=>voteable.class.name, :vote => "-1"), :remote => true do
    %div{:class => down_class_name}
  = link_to vote_path(:entity_id=>voteable.id, :entity_type=>voteable.class.name, :vote=>"1"), :remote => true do
    %div{:class => up_class_name}