- title @department.name

#maincontent
  %p
    Back to
    %strong 
      =link_to @department.school.name, @department.school  
  %p
    %strong Courses:
    -@department.courses.each do |course|
      %br
      =link_to "#{course.course_abbrev} - #{course.name}", course

