.contain
  %h1.big Sign in.
  %h2.big Signin using either Facebook or Linkedin, or create a new account.
  %br/
  %br/
  %a{:href => "/users/auth/facebook"}
    #facebooklogin
  %a{:href => "/users/auth/linked_in"}
    #linkedinlogin
  = form_tag session_path(resource_name), :method => :post, :class => "blubbity", :style => "left:550px" do
    %table
      %tr
        %td Email:
        %td
          = email_field_tag "user[email]", nil, :class => "signupinput"
      %tr
        %td Password:
        %td
          = password_field_tag "user[password]", nil, :class => "signupinput"
      %tr
        %td
          =submit_tag "Submit!", :class => "button3"