- title "Course"

%p
	%strong Name:
	=h @course.name
%p
	%strong Abbrev:
	=h @course.abbrev
%p
	%strong Department:
	=link_to @course.department.name, @course.department
%p
	%strong Description:
	=h @course.description
%p
	%strong Term:
	=h @course.term_id
%p
	%strong Difficulty Sum Cache:
	=h @course.difficulty_sum_cache
%p
	%strong Difficulty Count Cache:
	=h @course.difficulty_count_cache
%p
	%strong Usefulness Sum Cache:
	=h @course.usefulness_sum_cache
%p
	%strong Usefulness Count Cache:
	=h @course.usefulness_count_cache
%p
	%strong Students who have taken #{@course.abbrev}:
	%br
	-@course.students.each do |student|
		=print_student_block(student, :link => true)
		%br

%p
	= link_to "Edit", edit_course_path(@course)
	|
	= link_to "Destroy", @course, :confirm => 'Are you sure?', :method => :delete
	|
	= link_to "View All", courses_path
