#leftcolumn
  =link_to edit_registration_path(current_user) do
    %img{:src => @student.avatar.url(:small), :style => "position:relative; top:8px; left:12px;"}/
  #basicinfo
    .sidetop
      %span.headertext3 Basic Info
    .sidemiddle
      %ul#infofields
        %li.field Sex
        %li.value= (current_user.gender_is_male ? "male" : "female")
        %li.field Education
        %li.value Massachusetts Institute of Technology
        %li.field Location
        %li.value=h current_user.location
        %li.field Languages
        %li.value=h current_user.languages
        %li.field Phone
        %li.value=h number_to_phone(current_user.phone, :area_code => true)
        %li.field Email
        %li.value=h current_user.email
        %li.field Website
        %li.value=h current_user.website
        %li.field=link_to "Edit profile", edit_student_path(current_user)
        %li.value
    .sidebottom
#middlecolumn
  #fullname=current_user.name
  %a{:href => "/students/build"}
    #resbuild.awesomebtn
  %a{:href => "/browse"}
    #search.awesomebtn
  -#experiences
    .contenttop
      %span.headertext3 Challenge Questions
    .contentmiddle
      .hover.tTip{:title => "Hello World"}
        %span 2010 | Software Engineer | Google
      .hover.tTip{:title => "Hello World"}
        %span 2009 | Web Designer | Facebook
      .hover.tTip{:title => "Hello World"}
        %span 2008 | Garbageman | Cambridge Trash Co.
      .hover.tTip{:title => "Hello World"}
        %span 2007 | Stuff | Asdfaasdfasdfasdf
      .hover.tTip{:title => "Hello World"}
        %span 2006 | Somethingsomething| Powpowpowpow
      .hover.tTip{:title => "Hello World"}
        %span 2005 | Awesomeness | AAAAAAAAWWsome
    .contentbottom
  =render :partial => "shared/friends_box"
#rightcolumn
  #quicklinks
    .feedtop
      %span.headertext3 Quick Links
    .feedmiddle
      =render :partial => "shared/navigation"
    .feedbottom
  #feed
    .feedtop
      %span.headertext3 Feed Updates
    .feedmiddle
      =render :partial => "pfeeds/pfeed_for_home", :collection => current_user.pfeed_inbox
    .feedbottom